# Node modules (backend + frontend)
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
server/.env
client/.env

# Build folders
client/build/
server/dist/

# Logs
*.log

# IDE / OS
.vscode/
.DS_Store



